:root {
  --general-text: #F1F1F1;
  --accent-text-bl: #2194FF;
  --bg-color: #2D2D2D;
  --transition: all, .4s;

}

.body {
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: var(--bg-color);
  line-height: 22px;
  color: var(--general-text);
  font-weight: 300;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.title {
  color: var(--accent-text-bl);
  font-family: "Russo One";
  font-size: 64px;
  font-weight: 400;
  line-height: 63px;
  text-align: center;
}

.title-2 {
  color: var(--general-text);
  font-family: "Russo One";
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
}

.title-3 {
  color: var(--accent-text-bl);
  font-family: "Russo One";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}


.button {
  display: flex;
  background: url("../source/img/decor/btn.png");
  max-width: 395px;
  height: 87px;

  color: var(--general-text);
  font-family: "Russo One";
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 11px;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin-bottom: 13px;
  text-shadow: 1px 2px #00000040;
  transition: var(--transition);
}

.button-2 {
  display: flex;
  font-size: 18px;
  height: 43px;
  border-radius: 50px;
  background: var(--accent-text-bl);
  justify-content: center;
  align-items: center;
  padding: 15px 35px;
  transition: var(--transition);
}