@import "reset.css";
@import "stylesheet.css";
@import "global.css";


@import "header.css";
@import "footer.css";
@import "modal.css";
@import "modal-two.css";
/* -------------------------------------------------------------- */



/* --------------------------------------------------------------- */

.price {
  background: #2194ff0d;
  position: relative;
  margin-bottom: 57px;
}




.price__title {
  text-align: center;
  color: var(--accent-text-bl);
  padding-top: 46px;
  margin-bottom: 49px;
}

.price__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 32px;
  padding-bottom: 44px;
  margin-bottom: 44px;
}

.price__title-2 {
  white-space: nowrap;
  margin-bottom: 21px;
}

.price__text {
  margin-bottom: 28px;
  line-height: 21.79px;
}



.button-2:hover {
  box-shadow: 0px 1px 19px 6px var(--accent-text-bl);
}

.price__ratio-title {
  display: flex;
  color: #f1f1f1b3;
  align-items: center;
  justify-content: center;
  font-family: "Russo One";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 13px;
}

.price__ratio-procent {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 50px;

}

.price__ratio-procent-block {
  color: #f1f1f1b3;
  font-family: "Russo One";
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  position: relative;
}

.price__ratio-procent-block span {
  display: block;
  position: absolute;
  width: 51px;
  height: 0px;
  top: 50%;
  right: -61%;
  border: 1px solid #f1f1f14d;
  rotate: 90deg;
}

.price__ratio-procent-block p {
  font-size: 18px;
  line-height: 22px;
}

.price__ratio-img {
  width: 542px;
}

.price__ratio-img img {
  width: 100%;
}

.price__arrow {
  position: absolute;
  bottom: -9%;
  left: 48%;
}

/* -------------------------------------------------------------- */

.advantages__title {
  text-align: center;
  margin-bottom: 25px;
}

.advantages__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 29px;
  justify-items: center;
  align-items: start;
  margin-bottom: 40px;
}

.advantages__grid-el {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.el-1 {
  max-width: 219px;
}

.el-1 img {
  max-width: 124px;
  width: 100%;
}

.el-2 {
  max-width: 256px;
}

.el-2 img {
  max-width: 136px;
  width: 100%;

}

.el-3 {
  max-width: 306px;
}

.el-3 img {
  max-width: 56px;
  width: 100%;
}

.el-4 {
  max-width: 316px;
}

.el-4 img {
  max-width: 65px;
  width: 100%;
}

.el-5 {
  max-width: 318px;
}

.el-5 img {
  max-width: 104px;
  width: 100%;
}

.el-6 {
  max-width: 280px;
}

.el-6 img {
  max-width: 44px;
  width: 100%;
}

.el-7 {
  max-width: 264px;
}

.el-7 img {
  max-width: 111px;
  width: 100%;
}

.el-8 {
  max-width: 342px;
}

.el-8 img {
  max-width: 66px;
  width: 100%;
}

.el-9 {
  max-width: 301px;
}

.el-9 img {
  max-width: 73px;
  width: 100%;
}

.el-2,
.el-5,
.el-8 {
  align-self: end;

}

.advantages__bot {
  display: flex;
  gap: 0px;

}

.advantages__img {
  opacity: .1;
}

.advantages__txt {
  display: flex;
  flex-direction: column;
}

.advantages__text {
  font-family: "Russo One";
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
  margin: 0 32px 20px -75px;
}

.advantages__text span {
  color: var(--accent-text-bl);
}

.advantages__text-2 {
  display: flex;
  font-size: 14px;
  font-weight: 800;
  line-height: 19px;
  padding: 7px 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: -75px;
  background: var(--accent-text-bl);

}

/* ----------------------------------------- */

.gas-carrier {
  background: #2194ff0d;
}


.gas-carrier__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 34px 0 64px;
}

.gas-carrier__title {
  color: var(--accent-text-bl);
  margin-bottom: 35px;
}

.gas-carrier__tab {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 37px;
}

.gas-carrier__tab__item {
  display: flex;
  max-width: 164px;
  height: 64px;
  border-radius: 20px;
  background: #f1f1f133;
  transition: var(--transition);
}

.gas-carrier__tab__item:hover {
  background: var(--accent-text-bl);
}

.gas-carrier__tab__item p {
  display: flex;
  padding: 0 26px;
  font-family: "Russo One";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.gas-carrier__tab__link {
  display: flex;
}

.gas-carrier__tab__img {

  display: none;
}

.gas-carrier__button {
  width: 295px;
  height: 87px;
}

.gas-carrier__tab__link--active {
  border-radius: 20px;
  background: var(--accent-text-bl);
}

.gas-carrier__tab__img--show {
  max-width: 364px;
  height: 195px;
  display: block;
}

.gas-carrier__tab__img--show img {
  width: 100%;
  height: 100%;
}

/* ============================================================= */

.reviews__inner {
  margin: 40px 0 47px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__title {
  text-align: center;
}

.reviews__btn svg {
  width: 100%;
}

.reviews__swiper-button-prev {
  top: 561%;
  left: 5%;
  rotate: 90deg;
}

.reviews__swiper-button-next {
  top: 561%;
  right: 4%;

  rotate: -90deg;
}

.reviews__swiper-button-next,
.reviews__swiper-button-prev {
  background: transparent;
  position: absolute;
  max-width: 47px;
  max-height: 72px;
}

.reviews__swiper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  max-width: 759px;

}

.reviews__swiper-wrapper {
  margin-bottom: 24px;

}

.reviews__swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 0px #00000040;
  background: var(--general-text);
}

.reviews__swiper-slide-body {
  margin: 21px 50px;
}

.reviews__swiper-slide-img {
  border-radius: 25px;
  width: 203px;
  height: 239px;
  overflow: hidden;
  flex-shrink: 0;
  margin: 40px 0 40px 40px;
}

.reviews__swiper-slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__swiper-slide-name {
  color: var(--accent-text-bl);
  font-family: "Russo One";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.reviews__swiper-slide-city {
  color: var(--bg-color);
  font-family: "Russo One";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 15px;
}

.reviews__swiper-slide-text {
  color: rgb(45, 45, 45);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}


/* ============================================================= */
.accordion {
  background: #2194ff0d;
}

.accordion__title {
  text-align: center;
  color: var(--accent-text-bl);
  padding-top: 31px;
  margin-bottom: 57px;
}

.accordion__item {
  border-bottom: 1px solid #ffffff1a;
}

.accordion__item:last-child {
  margin-bottom: 40px;
}

.accordion__item:first-child {
  border-top: 1px solid #ffffff1a;
  border-bottom: 1px solid #ffffff1a;
}

.accordion-list__control {
  padding: 41px 30px;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  align-items: center;
  gap: 23px;

  color: var(--general-text);
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 22px;


  transition: var(--transition);
}

.accordion-list__control-icon {
  width: 16px;
  height: 14px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: var(--transition);
}

.accordion-list__control-icon path {
  transition: var(--transition);
}



.accordion-list__control:hover .accordion-list__control-icon {
  transform: rotate(90deg);
}

.accordion-list__control:hover .accordion-list__control-icon path {
  fill: var(--accent-text-bl);
}

.accordion-list-item--opened .accordion-list__control-icon {
  transform: rotate(90deg);
}

.accordion-list-item--opened .accordion-list__control-icon path {
  fill: var(--accent-text-bl);
}

.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.accordion-content {
  padding: 0 30px 40px;
  display: flex;
  gap: 80px;
}

.accordion-list-item--opened .accordion-list__control {
  padding-bottom: 20px;
}

.accordion-content__text {
  color: var(--general-text);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

/* ============================================================= */


@media (max-width: 1100px) {
  .price__inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
  }

  .price__butan {
    grid-row: -1/1;
  }

  .price__ratio {
    grid-column: -3/-1;
  }

  .price__propan,
  .price__ratio,
  .price__butan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* ----------------------------------------- */

  .price__arrow {
    bottom: -6%;
  }

  /* ----------------------------------------------- */

  .reviews__inner {
    margin-bottom: 80px;
  }

  .reviews__swiper-button-prev {
    top: 116%;
    left: 28%;
  }

  .reviews__swiper-button-next {
    top: 116%;
    right: 25%;
  }

  /* ---------------------------------------------------- */

  .partners__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /* ================================================= */
  .map__address {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .map__address-office {
    margin: 0;
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .header__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__about {
    align-items: center;
    justify-content: center;
  }

  .header__about-weathe-text {
    white-space: wrap;
  }

  .header__about-arrow {
    display: none;
  }

  .header__img {
    display: none;
  }

  .advantages__img {
    width: 50%;
  }


}

@media (max-width: 900px) {
  .price__arrow {
    left: 44%;
  }

  .advantages__grid {
    gap: 15px;
  }

  /* -------------------------------------------------- */

  .quest__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }

  .quest__form {
    align-items: center;

  }
}

@media (max-width: 800px) {
  .advantages__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .advantages__img {
    display: none;
  }

  .advantages__text,
  .advantages__text-2 {
    text-align: center;
    margin: 10px;
  }
}

@media (max-width: 750px) {
  .header__logo {
    margin-bottom: 25px;
  }

  /* --------------------------------------------------- */

  .gas-carrier__tab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 37px;
  }
}

@media (max-width: 700px) {
  .header__logo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;

  }

  .header__logo span {
    display: none;
  }

  .price {
    margin-bottom: 20px;
  }


  /* ===================================================== */
  .price__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 25px;
  }

  .price__title {
    padding-top: 25px;
    margin-bottom: 25px;
  }

  .price__arrow {
    display: none;
  }

  .advantages__grid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .el-2,
  .el-5,
  .el-8 {
    align-self: center;
  }

  .gas-carrier__inner {
    margin: 34px 0 25px;
  }

  /* ================================================ */
  .reviews__swiper {
    margin-bottom: 25px;
  }

  /* ====================================================== */
  .quest__inner {
    padding-top: 0px;
  }

  /* ======================================================= */

  .reviews__inner {
    margin-top: 25px;
  }
}

@media (max-width: 650px) {
  .reviews__swiper-slide {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .reviews__swiper-slide-img {
    margin: 20px 0 0px 0px;
  }
}

@media (max-width: 600px) {
  .title-2 {
    font-size: 30px;
  }

  /* ========================================== */
  .header__about-title {
    font-size: 37px;
    line-height: normal;
  }

  .header__about-text {
    text-align: center;
    margin-bottom: 25px;
  }

  .header__about-btn-text {
    text-align: center;
    margin-bottom: 45px;
  }

  .advantages__text {
    font-size: 32px;
  }

  /* ------------------------------------------------------------- */
  .map__policy {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }



  /* ------------------------------------------------------------- */
  .modal__two-top {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .header__top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 15px;
  }

  .header__logo {
    gap: 5px;
  }

  .price__ratio-img {
    display: none;
  }

  /* ---------------------------------------------- */

  .partners__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .partners__list {
    display: flex;
    flex-direction: column;
  }
}
