@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../source/fonts/OpenSans-Regular.woff') format('woff2'),
        url('../source/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Russo One';
    src: local('Russo One'), local('RussoOne-Regular'),
        url('../source/fonts/RussoOne-Regular.woff2') format('woff2'),
        url('../source/fonts/RussoOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

